node_modules
webpack
dist
public
docs
bin
.husky
.local
.vscode
.idea
.cache

*.md
*.woff
*.ttf
.eslintignore
.gitignore
.prettierignore
.prettierrc.js
jest.config.js
package.json
package-lock.json
tsconfig.json
yarn.lock